*{
    overflow-x: hidden ;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../Home/images/Landing_bg.jpg') no-repeat center center /cover;
    width: 100vw;
    height: 120vh;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);

}